@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f9fc;
  --foreground: #0b1220;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Pretendard",
    "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}
